# No expongas secretos
opti_learn/.env
.env

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# VSCode
.vscode/

# JetBrains IDEs
.idea/

# MacOS
.DS_Store

# Windows
Thumbs.db

# Archivos temporales de visualización
opti_learn/opti_app/static/tmp/*.png
opti_learn/staticfiles/tmp/*.png
static/tmp/*.png
*.png

# Base de datos
*.sqlite3

# Otros
*.log

